
<div class="row">
 <div class="col-12 d-flex justify-content-between" >
   <a href="/teaching/xml/xslt"class="btn btn-primary" role="button" >XSLT </a> <a href="/teaching/"class="btn btn-primary" role="button" >Sommaire </a>  <a href="/teaching/xml/xslt"class="btn btn-primary" role="button" >AJAX</a>
 </div>
</div>
<h1><%= title %> </h1>
<hr/>

<h2>Installation serveur nodeJs</h2>
<pre><code>
télécharger les <a href="/files/exam.zip">sources</a>
unzip exam.zip
cd tp_examen/
npm install
DEBUG=tp_examen: npm start *
// ou bien
npm start    
</code></pre>

<h2>Question 1 </h2>
<p>Modifier la requête grâce à la documentation de l'API de <a href="https://wiki.openstreetmap.org/wiki/Nominatim" >nominatim</a> afin de pouvoir récupérer les coordonnées GPS de la ville de Paris.</p>

<h2>Question 2 </h2>
<p>Avec l'API <a href="https://openweathermap.org/current" >Openweathermap</a>, récupérer la météo actuelle de la ville de Paris.</p>

<h2>Question 3 </h2>
<p>Modifier la requête afin de pouvoir récupérer la température en degrès Celsius.</p>

<h2>Question 4 </h2>
<p>Récupérer <a href="https://openweathermap.org/weather-conditions#Icon-list">l'icône</a> de la météo actuelle de la ville de Paris.</p>

<h2>Question 5 </h2>
<p>Proposer une transformation xsl (weather.xsl), permettant d'afficher:
    <ul>
        <li>Le nom de la ville.</li>
        <li>Le pays (country).</li>
        <li>La température actuelle.</li>
        <li>La météo actuelle en français. (changer la lang dans la requête)</li>
        <li>L'icône de la météo actuelle.</li>
    </ul>
</p>
<h3>Visuels</h3>
<img src="/images/courses/XML/exam_1.png" width="500px" >

<h2>Question 6 </h2>
<p>Compléter le fichier map.xsl afin d'afficher une <b>iframe</b> d'openStreetMap (google est ton ami ...) pour l'intégrer à notre application. Puis modifier le paramètre du marker afin de le positionner grâce à 2 requêtes Xpath, l'une pour récupérer la lattitude et l'autre la longitude.</p>

<h2>Question 7 </h2>
<p>Compléter la fonction <b>changeWeatherAndMap()</b> afin d'afficher en console, lors d'une modification (onChange) de la barre de recherche, le nom de la ville passé en valeur du champ. Puis supprimer le contenu du champ.</p>

<h2>Question 8 </h2>
<p>Modifier la requête nominatim, pour qu'elle affiche les coordonnées GPS de la ville récupérée dans le champ précédent.</p>

<h2>Question 8 </h2>
<p>Idem pour la requête OpenWeatherMap, afin de récupérer la météo actuelle de la ville.</p>


<h2>Question 9 </h2>
<p>modifier la fonction <b>updateInfo()</b> afin de pouvoir afficher lors d'un click sur l'unité de température (Celsius ou farheneit) la température adéquate. De plus, modifer la transformation XSL (weather.xsl) afin d'afficher le symbole appropriée (°C ou °F).</p>
<h3>Visuels</h3>
<img src="/images/courses/XML/exam_2.png" width="500px"/>


<h2>Question 10 </h2>
<p>Proposer une gestion de l'erreur en cas de mauvais nom de ville passé en paramètre.</p>

<h2>Question 11 </h2>
<p>Récupérer en XML les valeurs des température à 5 jours puis afficher grâce à SVG la courbe des températures comme le visuel le montre.</p>

<b>Visuel</b>
<br/>

<img src="/images/courses/XML/examen_4.png" width="500px"/>
<br/>
<br/>
<br/>

<div class="row">
 <div class="col-12 d-flex justify-content-between" >
   <a href="/teaching/xml/xslt"class="btn btn-primary" role="button" >XSLT <a href="/teaching/"class="btn btn-primary" role="button" >Sommaire </a>  <a href="/teaching/xml/xslt"class="btn btn-primary" role="button" >AJAX</a>
 </div>
</div>
