<style>
li::before{
 #content: "• "; color: rgba(108, 122, 137, 1);
}; 
li{
 list-style-type: disc;
};
</style>

<div class="row">
<div class="col-12 d-flex justify-content-between" >
<a href="/teaching"class="btn btn-primary" role="button" >Sommaire </a>  <a href="/teaching/xml/xml"class="btn btn-primary" role="button">Langague XML </a>
</div>
</div>
<h1><%= title %> </h1>
<p><i>(langague de balisage générique).  </i><p>
<h2>Késako ?</h2>
<hr/>
<ul>
    <li>langague de balisage comme HMTL. </li>
    <li>Décris une information. </li>
    <li>Conçu pour stocker et partager de la donnée. </li>
    <li>Permet une standardisation de l'information. </li>
    <li>Compréhensible par les Hommes et les machines. </li>
    <li>Recommandé par le W3C </li>
</ul>

<hr/>
<div id="CodeExample">
Exemple de code XML:
<pre><code>&lt?xml version="1.0" encoding="UTF-8"?&gt
  &ltlivre&gt
    &lttitrelang="fr"&gtDune&lt/titre&gt
    &ltauteur&gtFrank.Herbert&lt/auteur&gt
    &ltprix&gt14.99&lt/prix&gt
  &lt/livre&gt
</code></pre>
</div>


<h2>Applications </h2>
<hr/>
<p>C'est une ancienne technologie mais elle est loin d'être dépassée.</p>
<ul>
    <li>Android (définition des layouts)</li>
    <li>Web Services (SOA, iflux RSS, ...)</li>
    <li>L'API public feed de Facebook</li>
    <li>Fichiers de configurations (OS X ...)</li>
    <li>Et bien plus encore!</li>
</ul>

<h2>XML != HMTL </h2>
<hr/>
<p>Tous 2 utilisent un language de balisage, mais la comparaison s'arrête ici.</p>
<ul>
    <li>XML : décrire des informations.</li>
    <li>HMTL : présenter des informations.</li>
    <li>XML n'utilise pas de tags prédéfinie (h1, ul, p, ...)</li>
</ul>

<h2>XML est extensible :</h2>
<hr/>
<p>Un document XML ne fait rien, Il a besoin d'un programme pour l'envoyer, le recevoir, le stocker,l'afficher, le traiter,...</p>

<p>Exemple: </p>
<div class="col-12 d-flex justify-content-between" style="margin-left:-30px" >
<div id="CodeExample1">
<pre>
<code> 
&ltlivre&gt
 &lttitrelang="fr"&gtDune&lt/titre&gt
 &ltauteur&gtFrank.Herbert&lt/auteur&gt
 &ltprix&gt14.99&lt/prix&gt
&lt/livre&gt</code></pre>
</div>
<div id="CodeExample2">
<pre><code>
&ltlivre&gt
 &lttitrelang="fr"&gtDune&lt/titre&gt
 &ltISBN&gt09655118401&lt/ISBN&gt
 &ltedition&gt1987&lt/edition&gt
 &ltprix&gt14.99&lt/prix&gt
 &ltauteur&gtF. Herbert&lt/auteur&gt
&lt/livre&gt</code></pre>
</div>
</div>
<div class="col-12 d-flex justify-content-between" >
<div id="example1" style="background:rgba(129, 207, 224, 0.5);padding:10px;"></div>
<div id="example2" style="background:rgba(236, 100, 75, 0.5);padding:10px;"></div>
</div>
<p> Même après  modification du document XML, ça fonctionne</p>
<p>Ainsi la structure d'un document XML peut évoluer sans perte d'information</p>
<br/>

<h2>XML Simplifie les choses </h2>
<hr/>
XML est stocké en <em>plain text format</em>:
<ul>
<li>Compatible pour tous les systèmes</li>
<li>Aucune conversion de format, gains de temps pour les développeurs.</li>
<li>Pas de perte d'information </li>
</ul>

<p>Puisque la donnée est standardisée :</p>
<ul>
<li>Simplification de l'échange de donnée</li>
<li>Simplification du transport de donnée</li>
<li>Simplification de la validation de la donnée</li>
</ul>
<div class="row">
<div class="col-12 d-flex justify-content-between" >
<a href="/teaching"class="btn btn-primary" role="button" >Sommaire </a>  <a href="/teaching/xml/xml"class="btn btn-primary" role="button">Langague XML </a>
</div>
</div>

<script>
displayBook(0);
displayBook(1);
function displayBook(i) {
        var xmlhttp = new XMLHttpRequest();

    xmlhttp.open("GET", "/javascripts/xml/example.xml", true);

    xmlhttp.onreadystatechange = function () {
        if (this.readyState == 4 && this.status == 200) {

            var result = this.responseXML;
            var livre = result.getElementsByTagName("livre");

            var titre = livre[parseInt(i)].getElementsByTagName("titre")[0].childNodes[0].nodeValue;
            var auteur = livre[parseInt(i)].getElementsByTagName("auteur")[0].childNodes[0].nodeValue;
            var prix = livre[parseInt(i)].getElementsByTagName("prix")[0].childNodes[0].nodeValue;

            var reponse = "<h3>"+titre+"</h3> <hr/> <p>"+auteur + "</p><p>" + prix + "€ </p>";
            document.getElementById("example"+parseInt(i+1)).innerHTML = reponse;
        }else{
        }
    };

    xmlhttp.send();

}
</script>


