<div class="row">
 <div class="col-12 d-flex justify-content-between" >
   <a href="/teaching/xml/xslt"class="btn btn-primary" role="button" >XSLT </a> <a href="/teaching/"class="btn btn-primary" role="button" >Sommaire </a>  <a href="/teaching/xml/json"class="btn btn-primary" role="button">JSON</a>
 </div>
</div>
<h1><%= title %> </h1>
<hr/>
<h2>Introduction</h2>
    <p><b>Définition</b></p> 
    <ul>
        <li>Décrit et structure une information</li>
        <li>Compréhensible par l'Homme et la machine</li>
        <li>Information échangé sous forme texte</li>
        <li>Notation objet de JavaScript</li>
    </ul>
    <div class="alert alert-info">Bien que JSON utilise la notation JavaScript, il peut être interprété par d'autres langages de programmation.</div> 

<p><b>Parallèle avec XML</b></p>
<p>XML:</p>
<pre><code>&lt;?xml version="1.0" encoding="UTF-8"?&gt;
    &lt;person&gt;
        &lt;name&gt;Joe&lt;/name&gt;
        &lt;age&gt;42&lt;/age&gt;
    &lt;/person&gt;
</code></pre>

 <p>JSON:</p>
<pre><code>
    {
        "name":"joe",
        "age":42
    }
</code></pre>


<hr/>
<h2>XML vs JSON</h2>
 <table class="table">
 <tbody>
  <tr>
   <td>XML</td>
   <td>JSON</td>
  </tr>
   <tr>
   <td style="width: 50%; height: 21px; text-align: center;" colspan="2">Structure et organise une information</td>
  </tr>
  <tr>
   <td>Standardisé</td>
   <td>Pas Standardisé</td>
  </tr>
  <tr>
    <td>Structure Arborescente</td>
    <td>Map clé:valeur</td>
  </tr>
  <tr>
    <td>Stockage Côte Serveur</td>
    <td>Transfert aux navigateurs</td>
  </tr>
  <tr>
    <td>Verbeux</td>
    <td>Léger</td>
  </tr>
  <tr>
    <td>Texte, nombre, images, graphiques, ...</td>
    <td>Texte et nombre </td>
  </tr>  
  <tr>
   <td>DTD, XSD, XPath, XSLT, ...</td>
   <td><a href="https://json-schema.org/">JSON-Schema</a> <a href="https://github.com/json-path/JsonPath">JSON-Path </a>, ...</td>
  </tr> 
  <tr>
   <td>Complet (DOM, attributs, contraintes)</td>
   <td>Léger (texte, adapté aux échanges sur le web, ...)</td>
  </tr> 
  </tbody>
 <tr/>
</table>

<hr/>
<h2>Syntax</h2>
<p><b>Donné</b></p>
Notation object javaScript:
<ul>
    <li><code>{}</code> défnit un objet</li>
    <li>Une donnée est un tuple <code><i> "clé"</i> : valeur</code></li>
    <li>Les données sont séparées par des <code>,</code>
</ul>

<b>Exemple:</b>
<pre><code>{ "nom": "Joe", "age": 42 }</code></pre>


<p><b>Type de données</b></p>
<ul>
    <li>Chaine de caractère: <code>""</code></li>
    <li>Un nombre</li>
    <li>Un autre JSON: <code>{}</code></li>
    <li>Un tableau: <code>[]</code></li>
    <li>Un booléen: <code>True/False</code></li>
    <li><code>null</code></li>
</ul>

<b>Exemple:</b>
<pre><code>{
    "Livre":{
        "Titre": "DUNE",
        "Auteur": "Frank Herbert",
        "ISBN": 9788371502118,
        "Genre": ["SF", "Roman"],
        "Pages": 412,
        "Langue": "US"
    },
    ...
}</code></pre>


<h2>Manipulation</h2>
<p><b>Parser</b></p>
JSON (plain-text) reçu depuis un serveur 
<pre><code>'{"name": "Joe": "age": 42}'</code></pre>

<p>Conversion en objet JavaScript avec JSON.parse() :</p>

<pre><code>const res = JSON.parse('{"name": "Joe", "age": 42 }');
res.name; // "Joe"
res.age;  // 42</code></pre>
<p><b>Stringify</b></p>

<p>Conversion d'un objet JavaScript en JSON avec la méthode JSON.stringify() :</p>
<pre><code>const obj = { name: 'Joe', age: 42 };
const str = JSON.stringify(obj);// '{"name":"Joe","age":42}'</code></pre>

<div class="col-12 d-flex justify-content-between" >
  <a href="/teaching/xml/svg"class="btn btn-primary" role="button" >SVG </a> <a href="/teaching/"class="btn btn-primary" role="button" >Sommaire </a>
</div>