
<div class="row">
 <div class="col-12 d-flex justify-content-between" >
   <a href="/teaching/xml/xslt"class="btn btn-primary" role="button" >XSLT </a> <a href="/teaching/"class="btn btn-primary" role="button" >Sommaire </a>  <a href="/teaching/xml/json"class="btn btn-primary" role="button">JSON</a>
 </div>
</div>
<h1><%= title %> </h1>
<hr/>
<h2>Définition</h2>

<h3>SVG (Scalable Vector Graphics)</h3>
<b>Introduction</b>
    <p>Définition</p>  
    <ul> 
        <li>Un langague vectoriel.</li>
        <li>Agrandissement, réduction, transformation sans aucune perte de qualité .</li>
        <li>Composé de formes simple.</li>
    </ul>

<b>Particularités</b>
    <ul>
        <li>Est un document XML (lisible, par les Hommes et les machines)</li>    
        <li>Représentation sous forme de DOM.</li>
        <li>Manipulation par le CSS.</li>
        <li>Prise en charge par la plus part des logiciels.</li>    
        <li>Version 1.1, Standard W3C depuis 2011.</li>    
    </ul> 

<h2>Implémentation</h2>
<hr/>
<b>Elément racine</b>
<p>Déclaration d'un élémént racine svg:</p>
<pre><code>&lt;svg version="1.1"
     xmlns="http://www.w3.org/2000/svg"
     width="100" height="100"&gt;
  &lt;!-- Dessins vectoriels ici... --&gt;
&lt;/svg&gt;
    </code></pre>
<b>Groupes d'éléments</b>
Il est possible de regrouper différent formes avec :
<pre><code>
&lt;svg version="1.1"
     xmlns="http://www.w3.org/2000/svg"
     width="100" height="100"&gt;
  &lt;g&gt;
    &lt;!-- Groupe Dessins vectoriels ici... --&gt;
  &lt;/g&gt;
&lt;/svg&gt; 
    </code></pre>

<b>Intégration</b>
Il est possible d'intégrer une image svg dans une page HTML5 directement via la balise svg.
Sinon, dans un fichier *image*.svg externe:
<pre><code> 
  &lt;img src="/path-to-svg.svg"/&gt;
  &lt;object data="/path-to-svg.svg" type="image/svg+xml"/&gt;
  &lt;iframe src="/path-to-svg.svg"&gt;&lt;/iframe&gt;
    </code></pre>
<p>Exemple : <p/>
<img src="/images/courses/XML/cartman.svg" style="width:200px;height:auto"/>
<h2>Concepts</h2>
<hr/>

<b>Grilles</b>
<p>Comme pour une page web, les éléments svg sont positionnés dans une grille.</p>
<ul>
    <li>L'origine (0.0) est situé en haut à gauche.</li>
    <li>Les valeurs positives en x vont vers la droite.</li>
    <li>Les valeurs positives en y vont vers la bas.</li>
</ul>

<b>Tailles</b>
<p>Les tailles des éléments SVG sont exprimés en :</p>
<ul>
    <li>Unités absolues (pt,cm,...)</li>
    <li>Unités utilisateurs</li>
</ul>
<p>Exemple : </p>
<pre><code>&lt;svg width="100" height="100"&gt; ... &lt;/svg&gt;
</code></pre>
<p>Par défaut 1 unités équivaut à 1 px.</p>

<b>Unités utilisateur</b>
<p>Définie par l'attribut <i>viewBox</i></p>
<pre><code>&lt;svg width="200" height="200" viewBox="0 0 100 100" &gt; ... &lt;/svg&gt;
</code></pre>
Ici , l'image fait 200px X 200px. Le système de coordonnées commence au point (0,0) et s'étend sur 100 unités en x et en y. Soit 1 unités vaut 2px.

<h2>Formes</h2>
<hr/>
<b>Rectangle</b>
<ul>
    <li>x, y: coin supérieur gauche du rectangle.</li>
    <li>width, largeur du rectangle.</li>
    <li>height, hauteur du rectangle.</li>
    <li>rx,ry, rayon des bords du rectangle.</li>
</ul>
<pre><code>
    &lt;rect x="0" y="0" width="150" height="100" /&gt;
    &lt;rect x="0" y="0" width="150" height="100" rx="20" /&gt;
</code></pre>

<b>Cercle</b>
<ul>
    <li>cx,cy centre du cercle</li>
    <li>r, rayon du cercle</li>
</ul>
<pre><code>&lt;circle cx="50" cy="50" r="20" /&gt;
</code></pre>

<b>Ligne</b>
<ul>
    <li>x1,y1 point de départ.</li>
    <li>x2,y2 point d'arrivée.</li>
</ul>
<pre><code>&lt;line x1="20" y1="20" x2="100" y2="80" /&gt;
</code></pre>


<b>Polylignes (ligne brisées)</b>
<ul>
    <li>points, liste de cordonnées x y séparé par des virgules.</li>
</ul>
<pre><code>&lt;polyline points="0 0, 10 10, 20 42" /&gt;
</code></pre>

<b>Polygone</b>
Idem que la polyligne sauf que la forme est fermé avec le point de départ.
<pre><code>&lt;polygon points="0 0, 1 1, 2 2, 13 37" /&gt;
</code></pre>

<b>Texte</b>
<ul>
    <li>x,y coordonnées de l'ancre du texte.</li>
    <li>text-anchor, start | middle | end.</li>
</ul>
<pre><code>&lt;text x="150" y=150" text-anchor="middle" &gt;Hello world&lt;/text&gt;
</code></pre>

<h2>Styles</h2>
<hr/>
<b>Contours</b>
<ul>
    <li>stroke, couleur du contour.</li>
    <li>stroke-width, épaisseur du contour.</li>
    <li>stroke-linejoin, miter | round | bevel.</li>
</ul>
<pre><code>&lt;rect x="0" y="0" width="150" height="100"
                stroke="#007bff" stroke-width="4"/&gt;
</code></pre>

<b>Remplisage</b>
<ul>
    <li>fill, couleur de remplissage.</li>
</ul>
<pre><code>&lt;polygon points="0,0 1,1 2,2 13,37" 
                            fill="#dc3545" /&gt;
</code></pre>

<b>Css</b>
<p>Un élément SVG peut être modifié directement via le CSS:</p>
<pre><code>&lt;polygon id="polygon1" points="0,0 1,1 2,2 13,37" 
                                fill="#dc3545" /&gt;
</code></pre>

<pre><code>#polygone1 {
        stroke :  #000;
        fill : #FFF;
    }
</code></pre>

<h2>Pour allez plus loin</h2>
<p>Il existe beaucoup d'autres formes, mise en formes, animations disponibles.</p>
<a href="https://developer.mozilla.org/fr/docs/Web/SVG/Tutoriel">Mozilla</a><br/>
<a href="https://www.alsacreations.com/tuto/lire/1421-svg-initiation-syntaxe-outils.html">Alsa créations</a><br/>
<a href="https://www.creativebloq.com/design/examples-svg-7112785">Exemples</a><br/>

<br/>
<br/>
<br/>

<div class="row">
 <div class="col-12 d-flex justify-content-between" >
   <a href="/teaching/xml/xslt"class="btn btn-primary" role="button" >XSLT <a href="/teaching/"class="btn btn-primary" role="button" >Sommaire </a>  <a href="/teaching/xml/json"class="btn btn-primary" role="button" >JSON</a>
 </div>
</div>
