
<div class="row">
 <div class="col-12 d-flex justify-content-between" >
   <a href="/teaching/xml/xpath"class="btn btn-primary" role="button" >Xpath </a> <a href="/teaching/"class="btn btn-primary" role="button" >Sommaire </a>  <a href="/teaching/xml/svg"class="btn btn-primary" role="button" >SVG</a>
 </div>
</div>
<h1><%= title %> </h1>
<hr/>

<h2>Définition</h2>
<hr/>

<h3>XSLT  (eXtensible Stylesheet Language Transformation)</h3>
<b>Rappel</b>  
    <ul> 
        <li>XML, décrit une information.</li>
        <li>XSD, Vérifie l'exactitude d'un document.</li>
    </ul>

<b>XSL</b>
    <ul>
        <li>Document XML</li>    
        <li>Décrit <b>une</b> interprétation.</li>    
        <li>Standard recommandé par le W3C</li>    
    </ul> 
<div class="alert alert-info">XSL est à XML ce que CSS est à HTML. </div>

<b>XSLT</b>
    <ul>
        <li>Un composant de XSL</li>
        <li>Transforme un document XML dans un autre format(hmtl, pdf, csv, svg, ...)</li>
        <li>Navigation grâce aux expressions <a href="/teaching/xml/xpath">Xpath</a></li>
    </ul>

<h3>Exemple</h3>
<pre><code>&lt;notes&gt;
  &lt;note color="yellow"&gt;
    &lt;from&gt;Bob&lt;/from&gt;
    &lt;message&gt;Pense à sortir le chat...&lt;/message&gt;
  &lt;/note&gt;
  &lt;note color="pink"&gt;
    &lt;from&gt;Alice&lt;/from&gt;
    &lt;message&gt;Fais le toi-même !&lt;/message&gt;
  &lt;/note&gt;
</code></pre>

<p>Un affichage possible de XSL vers HTML:</p> 
<pre><code>&lt;div style="background:yellow"&gt;
    &lt;h2&gt;Bob&lt;/h2&gt;
    &lt;message&gt;Pense à sortir le chat...&lt;/message&gt;
&lt;/div&gt;
</code></pre>

<h2>Syntax</h2>
<b>Document XML </b>
<p>Liaison d'une feuille de style dans un document xml:</p>
<pre><code>&lt;?xml version="1.0" encoding="UTF-8"?&gt;
&lt;?xml-stylesheet type="text/xsl" href="note.xsl"?&gt;

&lt;note color="yellow"&gt;
  &lt;from&gt;Bob&lt;/from&gt;
  &lt;message&gt;Pense à sortir le chat...&lt;/message&gt;
&lt;/note&gt;
</code></pre>

<b>Document XML </b><p>
Définition d'un template qui match une partie du document et lui applique une transformation (à partir d'expression Xpath):</p>
<pre><code>&lt;?xml version="1.0" encoding="UTF-8"?&gt;
&lt;xsl:stylesheet version="1.0"
 xmlns:xsl="http://www.w3.org/1999/XSL/Transform"&gt;
  &lt;xsl:template match="/"&gt;
    &lt;!-- Transformations XSL... --&gt;
  &lt;/xsl:template&gt;
&lt;/xsl:stylesheet&gt;
</code></pre>

<h2>Valeur</h2>
<hr/>
<pre><code>&lt;xsl:value-of select="expression Xpath" /&gt;</code></pre>

<b>Exemple : </b>

<pre><code>&lt;h1&gt;Message :&lt;/h1&gt;
&lt;div&gt;
    &lt;xsl:value-of select="/note/message" /&gt;
&lt;/div&gt;
</code></pre>

<h2>Condition</h2>
<hr/>
<b>Si</b>
<pre><code>&lt;xsl:if test="expression Xpath" &gt;
&lt;p&gt;
    Si c'est vrai alors tu peux me voir!
&lt;/p&gt;
&lt;/xsl:if&gt;

<b>Si Sinon</b>
&lt;xsl:choose&gt;
&lt;xsl:when&gt;
    //SI
&lt;/xsl:when&gt;
&lt;xsl:otherwise
    //SINON
&lt;/xsl:othewise&gt;
&lt;/xsl:choose&gt;
</code></pre>

<h2>Boucle</h2>
<hr/>
<pre><code>&lt;xsl:for-each select="/note/message"&gt;
    &lt;xsl:value-of select="." /&gt;
&lt;/xsl:for-each&gt;
</code></pre>

<b>Tri</b>
<pre><code>&lt;xsl:for-each select="/note/message"&gt;
    &lt;xsl:sort select="expression" order="acsending"/&gt;
    &lt;xsl:value-of select="." /&gt;
&lt;/xsl:for-each&gt;
</code></pre>

<div class="alert alert-info">Par défaut sort tri dans l'orde croissant</div>

<h2>Parametre</h2>
<hr/>
<pre><code>&lt;xsl:param name="NomParam" /&gt;

&lt;xsl:template match="/" &gt;
    &lt;xsl:value-of select="//from[.=$NomParam]" /&gt;
&lt;/xsl:template&gt;
</code></pre>

<div class="alert alert-info">Le binding s'effectue via le processeur XSLT</div>

<h2>Documentation</h2>
<hr/>
<a href="https://www.w3schools.com/xml/xsl_choose.asp">Lien</a>
<br/>
<br/>
<br/>
<div class="row">
 <div class="col-12 d-flex justify-content-between" >
   <a href="/teaching/xml/xpath"class="btn btn-primary" role="button" >Xpath </a> <a href="/teaching/"class="btn btn-primary" role="button" >Sommaire </a>  <a href="/teaching/xml/svg"class="btn btn-primary" role="button" >SVG</a>
 </div>
</div>
