<div class="row">
 <div class="col-12">
  <img src="/images/courses/gal/verdun.jpg"width="100%" heigth="50" class=" banner" />
 </div>
</div>
<h1><%= title %> : ENNONCE </h1>

<h2>Contexte</h2>
<hr/>
<div class="row">
 <div class="col-4">
  <img src="/images/courses/gal/logo.jpg" width=150" id="avatar" class="img-fluid"/>
 </div>
<div class="col-8">
<p>
 La société <em>Pleko©</em> souhaite organiser un jeu concour autour d'un de ses produits phare: <b>Verdun</b>. Vous est votre équipe de développeurs avaient été sélectionné pour réaliser cet évênement.
</p>

<h2>Ennonce</h2>
<hr/>
<div>
<a href="/pdf/GAL_slides.pdf">pdf</a>
</div>
<br>

<h2>Pour commencer</h2>
<hr/>
<div>
liens images:
<br>
<a href="https://gitlab.com/dubois.amaury62/gal_projet">GitLab</a>
</div>
