<nav class="navbar navbar-expand-lg navbar-light fixed-top shadow-sm p-3 mb-5 rounded " id="navbar">
 <a class="navbar-brand" href="/"><img src="/images/avatar.jpg" width="30" /> <%= title %></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" href="/teaching"> <font color="#A7E22E"><b>TEACHING</b></font></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/research"> <font color="#36AF90"><b>RESEARCH</b></font></a>
      </li>
    </ul>
  </div>
</nav>
