<!DOCTYPE html>
<html>
 <head>
  <title><%= title %></title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" />
  <link rel='stylesheet' href='/stylesheets/style.css' />
 </head>
 <body>
  <%- include('head',{title:"Amaury DUBOIS"}) %>
  <div class="container shadow" id="central">
   <div class="row  ">
    <div id="center-block " style="float:none;">
     <div class="row">
      <div class="col-6">
       <img src="/images/avatar.jpg" class="img-fluid" id="avatar"/>
      </div>
      <div class="col-6 align-self-center">
       <h2>Hi ! <br/> I'm a PhD in computer science.</h2>
       <hr/>
      </div>
     </div>
     <div class="row">
      <div class="col-12">

          <h2><font color="#0075A2">Sho</font>rt introduction</h2> 
       <hr/>
       <ul>
        <li><b>2018 - 2020 PhD in computer science</b> 
            <br/>French title: <i>“Maîtrise de la culture de pomme de terre grâce au développement d'outils d'aide à la décision”</i>
            <br/><small>keyword: Machine Learning, Multi-Modal optimization, Neural Network</small>
            <br/><a href="https://www.univ-littoral.fr/">ULCO</a>, Calais, France
            
            <br/> <a href="http://www-lisic.univ-littoral.fr/~verel/">Sébastien Vérel</a>, <a href="http://www-lisic.univ-littoral.fr/~teytaud/index.html">Fabien Teytaud</a> and Jérôme Leroy(WEENAT)
            <br/><small>in partnership with <a href="/">WEENAT</a></small>
        </li>   

        <li><b>2015 - 2017 Master Degree in computer science</b> 
            <br/><a href="https://www.univ-littoral.fr/">ULCO</a>, Calais, France
            <br/> Master <a href="https://www.univ-littoral.fr/formation/offre-de-formation/masters/master-informatique-ingenierie-des-systemes-informatiques-distribues/">ISIDIS</a>
            <br/><small>With Honour </small>
        </li>

        <li><b>2012 - 2015 Bachelor of computer Science</b> 
            <br/><a href="https://www.univ-littoral.fr/">ULCO</a>, Calais, France
            <br/><small>With Honour </small>
        </li>


       <p>For more details, you can investigate my <a href="/research">research</a>, my <a href="teaching">teachings</a>, or feel free to contact me.</p> 


       <h2><font color="#36AF90">Res</font>earch interests</h2>
       <hr/>
       <h3>Global Optimization </h3>
       <ul>
        <li>Black Box optimization</li>
        <li>Continuous optimization</li>
        <li>Multi-Modal optimization</li>
        <li>Evolutionary optimization</li>
       </ul> 
       <h3>Decisions making under incertainty</h3>
       <ul>
        <li>Reinforcement learning</li>
        <li>Multi armed bandit</li>
        <li>Monte-Carlo Tree Search</li>
       </ul> 
       <h3>Applications </h3>
       <ul>
        <li>Real world applications</li>
       </ul> 


       <h2><font color="#FE9720">Per</font>sonal informations</h2>
       <hr/>
       <ul>
        <li><b>Age :</b> 25 years</li>
        <li><b>Email :</b> amaury.dubois[at]univ-littoral.fr </li>
        <li><b>Lab :</b>  Laboratoire d'Informatique, Signal et Image de la Côte d'Opale (LISIC), France</li>
        <li><b>Team :</b> <a href="https://www-lisic.univ-littoral.fr/article198.html">OSMOSE</a></li>
       </ul> 
      </div>
     </div>
    </div>
   </div>
  </div>
  <canvas class="background", id="canvas"></canvas>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/particlesjs/2.2.3/particles.min.js"></script>
 
  <script>

    var particles = Particles.init({
	selector: '.background',
  color: ['#659DBD', '#41B3A3'],
  connectParticles: true,
  responsive: [{
  	breakpoint: 800,
    options: {
    	color: '#00C9B1',
    	maxParticles: 80,
      connectParticles: false
    },
  }],
  
});

    </script>
 <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
 <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
 <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>

 <style>
html, body { height: 100% }

#central {

  background-color: rgba(236, 236, 236, 1);
  box-shadow: 0 0 24px 0 rgba(0, 0, 0, 0.06), 0 1px 0 0 rgba(0, 0, 0, 0.02);
}

.background {
    position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  height: auto;
  width: auto;
}
#back1{top: 0;}
#back2{top: 800px;}
#back3{top: 1600px;}
 </style>
</body>



</html>
