<!DOCTYPE html>
<html>

 <head>

  <!-- Meta and styles -->

  <!-- More stylesheets -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" />
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/styles/github.min.css">

 </head>

 <body>
  <title><%= titleAbr %></title>
  <!-- Navbar -->
  <%- include('head',{ title : titleAbr}) %>
  <!-- Main content -->
  <div class="container shadow" id="central">
   <div class="row">
    <div id="center-block  " style="float:none;">
     <div class="row">
      <div class="col-12">
       <%- include(`${view}`); %>
      </div> 
     </div>
    </div>
   </div>
  </div>

  <!-- Scripts -->

  <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/highlight.min.js"></script>
  <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/8.9.1/styles/default.min.css">
  <script src="/javascripts/toc.js"></script>
  <script>hljs.initHighlightingOnLoad();</script>
  <script>$('#toc').toc( {'selectors': 'h3,h4', 'container': '.content' });</script>
  <script>$('#pdf-load').click(() => $('#pdf-load i').toggleClass('fa-file-pdf fa-cog fa-spin'));</script>

 </body>
</html>
