<!DOCTYPE html>
<html>
 <head>
  <title><%= title %></title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" />
  <link rel='stylesheet' href='/stylesheets/style.css' />
 </head>
 <body>
  <%- include('head') %>
  <div class="container shadow" id="central">
   <div class="row">
    <div id="center-block  " style="float:none;">
     <div class="row">
      <div class="col-12">
       <h1>RESEARCH</h1>
       <h2><font color="#A7E22E">Dblp</font></h2>
       <a href="https://dblp.org/pid/234/1641.html">Link</a>
       <h2><font color="#66D9EE">Hal</font></h2>
         <a href="http://haltools.inrialpes.fr/Public/afficheRequetePubli.php?auteur_exp=Amaury,Dubois&CB_auteur=oui&CB_titre=oui&CB_article=oui&langue=Francais&tri_exp=annee_publi&tri_exp2=typdoc&ordre_aff=TA&langue=Anglais&menu=Export&Fen=Aff&css=http://www.lri.fr/~marc/VisuRubriqueEncadre.css">Link</a>
       <h2><font color="#FE9720">Pub</font>lications</h2>
       <hr/>
       <h3>Journal articles</h3>
       <ul>
         <li><b>Short term soil moisture forecasts for potato crop farming: a machine learning approach</b> <a href="#">Hal</a>
         <br/>Computers and electronics in agriculture.
         <br/>Authors: Amaury Dubois, Fabien Teytaud, Sébastien Vérel
         <br/><small>November 17th, 2020.</small>
         </li>
       </ul>
       <ul>
            <li><b>Upper Confidence Tree for planning restart strategies in Multi-Modal Optimization</b> <a href="https://hal.archives-ouvertes.fr/hal-02951196/file/paper.pdf">Hal</a>
            <br/>Soft Computing.
            <br/>Authors: Amaury Dubois, Fabien Teytaud, Julien Dehos
            <br/><small>July 13th, 2020.</small>
            </li>
       </ul>
       <h3>International conference</h3>
       <ul>
            <li><b>Automatic calibration of a farm irrigation model: a multi-modal optimization approach. Artificial Evolution.</b> <a href="https://hal.archives-ouvertes.fr/hal-02406612v1">Hal</a>
            <br/>EA, Mulhouse, France.
            <br/>Authors: Amaury Dubois, Fabien Teytaud, Sébastien Vérel & Éric Ramat
            <br/><small>October 29 - 30, 2019.</small>
            </li>
           
            <li><b>Improving Multi-Modal optimization restart strategy through multi-armed bandit.</b> <a href="https://hal.archives-ouvertes.fr/hal-02014193">Hal</a>
         <br/>ICMLA, Orlando, Florida, USA.
         <br/>Authors: Amaury Dubois, Fabien Teytaud, Julien Dehos
         <br/><small>December 17 - 20, 2018.</small>
        </li>
        
       </ul>
       <h3>French comunication</h3>
       <ul>
         <li><b>Salon International de l'Agriculture.</b>
            <br/>SIA, Paris, France.
            <br/><small>February 27, 2020.</small>
            </li>

         <li><b>Séminaire  IA et 3ème révolution industrielle.</b>
               <br/>1er prix du jury prix Doctorant.
               <br/>Central, Lille, France.
               <br/><small>February 28, 2020.</small>
               </li>   

        <li><b>Workshop IA.</b> <a href="http://www-lisic.univ-littoral.fr/~teytaud/workshopAI.html">Link</a>
        <br/>ULCO, Calais, France.
        <br/><small>June 18, 2018.</small>
        </li>
       </ul> 

       <h3>Miscalleneous</h3>
       <ul>
        <li><b>Forum des Master</b>
         <br/>Calais, France.
         <br/><small>March 17, 2018.</small>
        </li>
        <li><b>Journée immersion: collège d'Ardres</b>
           <br/>Calais, France.      
           <br/><small>February 15, 2018.</small>
        </li>
        <li><b>Journée immersion: collège d'Ardres</b>
           <br/>Calais, France.      
           <br/><small>January 17, 2018.</small>
        </li>
       </ul> 
       <h2><font color="#66D9EE">Res</font>earch interests</h2>
       <hr/>
       
       <h3>Decisions making under incertainty</h3>
       <ul>
        <li>Multi armed bandit</li>  
        <li>Reinforcement learning</li>
        <li>Monte-Carlo Tree Search</li>
       </ul> 
       <h3>Applications </h3>
       <ul>
        <li>Real world applications</li>
       </ul>
       <h3>Global Optimization </h3>
       <ul>
        <li>Black Box optimization</li>
        <li>Continuous optimization</li>
        <li>Multi-Modal optimization</li>
        <li>Evolutionary optimization</li>
       </ul>
      </div>
     </div>
    </div>
   </div>
  </div>
  <canvas class="background", id="canvas"></canvas>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/particlesjs/2.2.3/particles.min.js"></script>
 
  <script>

    var particles = Particles.init({
	selector: '.background',
  color: ['#659DBD', '#41B3A3'],
  connectParticles: true,
  responsive: [{
  	breakpoint: 800,
    options: {
    	color: '#00C9B1',
    	maxParticles: 80,
      connectParticles: false
    },
  }],
  
});

    </script>
    <style>
      html, body { height: 100% }
      
      #central {
      
        background-color: rgba(236, 236, 236, 1);
        box-shadow: 0 0 24px 0 rgba(0, 0, 0, 0.06), 0 1px 0 0 rgba(0, 0, 0, 0.02);
      }
      
      .background {
          position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: -1;
        height: auto;
        width: auto;
      }
      #back1{top: 0;}
      #back2{top: 800px;}
      #back3{top: 1600px;}
       </style>
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
 </body>



</html>
