<!DOCTYPE html>
<html>
 <head>
  <title><%= title %></title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" />
  <link rel='stylesheet' href='/stylesheets/style.css' />
 </head>
 <body>
  <%- include('head') %>
  <div class="container shadow" id="central">
   <div class="row">
    <div id="center-block  " style="float:none;">
     <div class="row">
      <div class="col-12">
        <h1>Teaching</h1>

        <p>You can find in this section, all my courses and tutorials I teach.</p>
        <p>All courses are avaible in French</p>

        <h2><font color="#36AF90">Pro</font>jet GAL</h2>
        <hr/>
        <ul>
          <li>
           <a href="/teaching/gal/ennonce">Ennoncé</a>
          </li>
         </ul>
         <h2><font color="#36AF90">Alg</font>orithmie</h2>
         <hr/>
         <ul>
           <li>
            <a href="https://docs.google.com/presentation/d/1nQR1tVrBdfpCNTvz6XIYEUhIkpgC1SrqDBFC7ASrtqw/edit?usp=sharing">Cours</a>
           </li>
          </ul>
         <h2><font color="#A7E22E">XML</font></h2>
        <h3>Cours</h3>
	   	<hr/>
        <ul>
          <li> <a href="https://florian-lepretre.herokuapp.com/teaching/webservices/intro/slides">Introduction_module</a></li>
          <li> <a href="/teaching/xml/introduction">Introduction</a></li>
          <li> <a href="/teaching/xml/xml">XML</a></li>
          <li> <a href="/teaching/xml/dtd">DTD</a></li>
          <li> <a href="/teaching/xml/xmlschema">XMLSchemas</a></li>
          <li> <a href="/teaching/xml/xpath">XPath</a></li>
          <li> <a href="/teaching/xml/xslt">XSLT</a></li>
          <li> <a href="/teaching/xml/svg">SVG</a></li>
          <li> <a href="/teaching/xml/json">JSON</a></li>
          <li> <a href="/teaching/xml/examen">Examen</a></li>
        </ul>
        <h3>TP</h3>
       <hr/>
       <ul>
        <li> <a href="/teaching/xml/tp1">TP1 : XML</a></li>
		    <li> <a href="/teaching/xml/tp2">TP2 : DTD</a></li>
		    <li> <a href="/teaching/xml/tp3">TP3 : XSD</a></li>
		    <li> <a href="/teaching/xml/tp4">TP4 : XPath</a></li>
        <li> <a href="/teaching/xml/tp5">TP5 : XSLT</a></li>
        <li> <a href="/teaching/xml/tp6">TP6 : SVG</a></li>
        <li> <a href="/teaching/xml/tp7">TP7 : JSON</a></li>
       </ul>
      </div>
     </div>
    </div>
   </div>
  </div>
  <canvas class="background", id="canvas"></canvas>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/particlesjs/2.2.3/particles.min.js"></script>
 
  <script>

    var particles = Particles.init({
	selector: '.background',
  color: ['#659DBD', '#41B3A3'],
  connectParticles: true,
  responsive: [{
  	breakpoint: 800,
    options: {
    	color: '#00C9B1',
    	maxParticles: 80,
      connectParticles: false
    },
  }],
  
});

    </script>
    <style>
      html, body { height: 100% }
      
      #central {
      
        background-color: rgba(236, 236, 236, 1);
        box-shadow: 0 0 24px 0 rgba(0, 0, 0, 0.06), 0 1px 0 0 rgba(0, 0, 0, 0.02);
      }
      
      .background {
          position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: -1;
        height: auto;
        width: auto;
      }
      #back1{top: 0;}
      #back2{top: 800px;}
      #back3{top: 1600px;}
       </style>
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
 </body>



</html>
