body {
    font: 14px ,'Source Sans Pro', Helvetica, Arial, sans-serif;
    margin:0;
    padding:0;
    width:100%;
    #background:rgba(46, 49, 49, 0.12);
    background:#F8F8F8;	
}

.box {
    width:70%;
    height:100%;
    #background:rgba(236, 240, 241, 1);
    background:rgba(108, 122, 137, 1);
    margin:40px auto;
    margin-top:100px;
    padding-top:10px;
    padding-bottom:20px;
}
.effect2
{
    position: relative;
}
.effect2:before, .effect2:after
{
    z-index: -1;
    position: absolute;
    content: "";
    bottom: 15px;
    left: 10px;
    width: 50%;
    top: 80%;
    max-width:300px;
    background: 
    background-color:rgba(236, 240, 241, 0.1);
    -webkit-box-shadow: 0 15px 10px #777;
    -moz-box-shadow: 0 15px 10px #777;
    box-shadow: 0 15px 10px #777;
    -webkit-transform: rotate(-3deg);
    -moz-transform: rotate(-3deg);
    -o-transform: rotate(-3deg);
    -ms-transform: rotate(-3deg);
    transform: rotate(-3deg);
}
.effect2:after
{
    -webkit-transform: rotate(3deg);
    -moz-transform: rotate(3deg);
    -o-transform: rotate(3deg);
    -ms-transform: rotate(3deg);
    transform: rotate(3deg);
    right: 10px;
    left: auto;
}

#central{
    margin-bottom:30px;
    background-color: rgba(236, 236, 236, 0.24);
    max-width:600px;
    padding-top:130px;
    padding-left:30px;
    padding-right:20px;
}

#navbar{
    background-color: rgba(218, 223, 225, 0.21);
}

a{
    color: #42b983; 
    text-decoration:none;
}

h1{
    font-size: 2.0rem;
    color:rgba(36, 37, 42, 1);
    margin-top: 30px;
}
h2{

    color:rgba(36, 37, 42, 1);
    margin-top: 30px;
    font-size: 1.5rem;

}h3{

    color:rgba(36, 37, 42, 1);
    margin-top: 30px;
    font-size: 1.2rem;
}
h1,h2,h3{
    font-weight:bold;

}

li{
    list-style:none;
    padding-top:10px;
    padding-bottom:10px;
}

hr{
    width: 85%;
    #background-color: rgba(46, 49, 49, 0.81);
}

small{
    color: rgba(46, 204, 113, 1);
}

#avatar{
    float:left;
    height:auto;
    width:200px;
    padding-bottom:20px;
}

.banner{
    margin:0px;
    padding:0;
    height:200px;
    object-fit:cover;
}

pre {
    width: 100%;
    padding: 0;
    overflow: auto;
    overflow-y: hidden;
    font-size: 12px;
    line-height: 20px;
    color: #efefef;
    box-shadow: -1px 2px 10px 3px rgba(0, 0, 0, 0.3);
}

pre code {
    padding: 10px;
    color: #333;
}
