
<div class="row">
    <div class="col-12 d-flex justify-content-between" >
      <a href="/teaching/xml/xslt"class="btn btn-primary" role="button" >XSLT </a> <a href="/teaching/"class="btn btn-primary" role="button" >Sommaire </a>  <a href="/teaching/xml/xslt"class="btn btn-primary" role="button" >AJAX</a>
    </div>
   </div>
   <h1><%= title %> </h1>
   <hr/>
   
   <h1>Liens</h1>
   <a href="https://docs.google.com/presentation/d/1nQR1tVrBdfpCNTvz6XIYEUhIkpgC1SrqDBFC7ASrtqw/edit?usp=sharing">slide</a>

   
   <div class="row">
    <div class="col-12 d-flex justify-content-between" >
      <a href="/teaching/xml/xslt"class="btn btn-primary" role="button" >XSLT <a href="/teaching/"class="btn btn-primary" role="button" >Sommaire </a>  <a href="/teaching/xml/xslt"class="btn btn-primary" role="button" >AJAX</a>
    </div>
   </div>
   