
<div class="row">
 <div class="col-12 d-flex justify-content-between">
   <a href="/teaching/xml/xml"class="btn btn-primary" role="button">Langague XML </a>
  <a href="/teaching"class="btn btn-primary" role="button" >Sommaire</a>
<a href="/teaching/xml/tp2"class="btn btn-primary" role="button" >TP 2 </a> 
 </div>
</div>
<h1><%= title %> </h1>
 <h2>Introduction</h2>
 <hr/>
 <p>Le but de ce tp est de se familiariser avec le language XML et de structurer des informations sous forme d'un document à l'aide d'éléments  et d'attributs.</p>

 <h2>Exercice 1 </h2>
 <hr/>
	<p>En vous inspirant de l'exemple du cour, proposer un document XML permettant de décrire une bibliothèque et insérer 2 livres de votre choix. <p>Une bibliothèque est composée de livres.</p> 
	<p>Un livre est défini par:</p>
	<ul>
		<li>Son titre.</li>
		<li>Le(s) auteur(s).</li>
		<li>Son prix.</li>
		<li>Un résumé.</li>
		<li>Son ou ses genre(s) </li>
		<li>un nombre de pages</li>
		<li>Son édition</li>
	</ul>
	<p>quelques indications: </p>
	<ul>
		<li>Un auteur à une nationalitée</li>
		<li>Un livre possède obligatoirement un ISBN.</li>
		<li>Un livre à au moins 1 auteur.</li>
		<li>Un prix possède toujours une device.</li>
		<li>Le résumé d'un livre n'est pas toujours disponible.</li>
		<li>Une édition permet de connaitre, la date d'impression et s'il s'agit d'un original.</li>
	</ul>


<div class="alert alert-info" role="alert">Penser à valider le documet XML avec la commande <pre><code>xmllint *fichier.xml*</code></pre></div>

 <h2>Exercice 2 </h2>
<hr/>
	<p>On veut développer un  système d'information au format XML permettant de stocker plusieurs news ainsi que les réactions.</p>
	<p>Une news est définie par:</p>
	<ul>
		<li>Un titre</li>
		<li>Une date</li>
		<li>des mots-cles</li>
		<li>Un contenu</li>
		<li>Une image</li>
		<li>des commentaires</li>
	</ul>

	<p>Une image est définie par:</p>
	<ul>
		<li>Une URL</li>
		<li>Une description alternative</li>
		<li></li>
	</ul>

	<p>Une commentaires est définie par:</p>
	<ul>
		<li>Un auteur</li>
		<li>Une date</li>
		<li>Un contenu</li>
	</ul>

	<div class="alert alert-info" role="alert">Penser à valider le documet XML avec la commande <pre><code>xmllint *fichier.xml*</code></pre></div>


 <h2>Exercice 3</h2>
 <hr/>
	<p>Proposer un document XML permettant de structurer les informations d'une civilisation de votre choix pour<a href="https://ageofempires.fandom.com/wiki/Civilizations_(Age_of_Empires_II)"> <b>AGE of EMPIRE 2</b></a>.</p>
 <h3>Unité</h3>
	Une unité est représentée par:
	<ul>
		<li>un nom</li>
		<li>Une icône</li>
		<li>une civilisation</li>
		<li>Un coût</li>
		<li>Stats</li>
	</ul>
 <h3>Coût</h3>
	le coût est représenté par :
	<ul>
		<li>Qte Or</li>
		<li>Qte Pierre</li>
		<li>Qte Nourriture</li>
		<li>Qte Bois</li>
	</ul>

<div class="alert alert-info" role="alert">Un coût peut être un peu de chaque ressource.</div>
	 <h3>Stats Unité</h3>
	une stats est composé de :
	<ul>
		<li>Pdv</li>
		<li>vitesse d'attaque</li>
		<li>points d'attaque</li>
		<li>vitesse</li>
		<li>type d'attaque</li>
		<li>vitesse projectile</li>
		<li>Porté</li>
	</ul>
<div class="alert alert-info" role="alert">Une unité a soit une attaque à distance, soit de mélée. Si c'est le cas elle possède une vitesse d'attaque, sinon elle possède une portée, une vitesse de projectile et une vitesse d'attaque.</div>
	 <h3>Bâtiments</h3>
	Un bâtiment est représenté par:
	<ul>
		<li>Un nom</li>
		<li>Une icône</li>
		<li>Un coût</li>
		<li>Age de construction départ</li>
		<li>Stats</li>
	</ul>

  <h3>Stats Bâtiment</h3>
	une stats est composée de :
	<ul>
		<li>Pdv</li>
		<li>Taille</li>
		<li>points d'attaque</li>
		<li>vitesse</li>
		<li>type d'attaque</li>
		<li>vitesse projectile</li>
		<li>Porté</li>
	</ul>
	<div class="alert alert-info" role="alert">Un bâtiment peut ne pas avoir de points d'attaque.</div>
 <h3>Arbres Technologique</h3>
	Un arbre technologique est composé de:
	<ul>
		<li>Technologies de constructions</li>
		<li>Technologies economique</li>
		<li>Technologies religieuse</li>
		<li>Technologies militaire</li>
	</ul>
	
	Une technologie  est composé de :
	<ul>
		<li>Age minimal</li>
		<li>Coût</li>
		<li>Effet</li>
	</ul>
 <h3>Civilisation</h3>
	une civilisation est composée de :
	<ul>
		<li>Un arbre technologie</li>
		<li>Des Unités</li>
		<li>Des bâtiments</li>
	</ul>
	<div class="alert alert-info" role="alert">Une civilisation est représenté par une spécialisation obligatoirement ("économique","maritime","militaire","technologique"). Elle possède 1 arbre technologique et aussi au moins 1 unitée et 1 bâtiments.</div>
	
<div class="alert alert-info" role="alert">Penser à valider chaque document XML avec la commande <pre><code>xmllint *fichier.xml*</code></pre></div>

<div class="alert alert-info" role="alert">Normalement, ça doit commencer à faire beaucoup  balises.</div>
<div class="row">
 <div class="col-12 d-flex justify-content-between">
   <a href="/teaching/xml/xml"class="btn btn-primary" role="button">Langage XML </a>
  <a href="/teaching"class="btn btn-primary" role="button" >Sommaire</a>
<a href="/teaching/xml/tp2"class="btn btn-primary" role="button" >TP 2</a> 
 </div>
