<div class="row">
 <div class="col-12 d-flex justify-content-between">
   <a href="/teaching/xml/tp1" class="btn btn-primary" role="button">TP 1</a>
  <a href="/teaching"class="btn btn-primary" role="button" >Sommaire</a>
<a href="/teaching/xml/tp3"class="btn btn-primary" role="button" >TP 3 </a> 
 </div>
</div>
<h1><%= title %> </h1>
 <h2>Introduction</h2>
 <hr/>
 <p>Le but de ce tp est de comprendre la validation d'un document XML à l'aide d'un DTD.</p>

<h2>Avant propos</h2>
<hr/>
 <b>Validation</b>
Pour valider un document XML selon un DTD, nous utiliserons le programme <b>xmllint</b> en ligne de commande.
<p>Avec la déclaration interne de la DTD:</p> 	
 <pre><code>xmllint *fichier_a_tester.xml* --noout --valid</code></pre>
 <p>Avec la déclaration externe de la DTD:</p>
 <pre><code>xmllint  --noout *fichier_a_tester.xml*</code></pre>
 <h2>Exercice 1 </h2>
 <hr/>
	<p>Récupérer le fichier <a href="/files/bibliotheque.xml">bibliotèque</a>, proposer un DTD permettant de valider un document XML représentant une bibliothèque.</p> 
	<p>Une bibliothèque possède au moins 1 livre. Un livre est défini par:</p>
	<ul>
		<li>Son titre.</li>
		<li>Le(s) auteur(s).</li>
		<li>Son prix.</li>
		<li>Un résumé.</li>
		<li>Son ou ses genre(s) </li>
		<li>un nombre de pages</li>
		<li>Son édition</li>
	</ul>
	<p>quelques indications: </p>
	<ul>
		<li>Un auteur à une nationalité</li>
		<li>Un livre possède obligatoirement un ISBN</li>
		<li>Un livre à au moins 1 auteur</li>
		<li>Un prix possède toujours une device</li>
		<li>Le résumé d'un livre n'est pas toujours disponible</li>
		<li>Une édition permet de connaitre,s'il s'agit d'un original</li>
	</ul>


 <h2>Exercice 2</h2>
 <hr/>
		<p>Créer un document xml du livre de votre choix puis valider le avec le DTD précédent</p>
		<p>Récupérer le fichier <a href="/files/bibliotheque_malRange.xml">bibliothèque mal rangée</a>, insérer le dans la bibliothèque et essayer de valider le document.
		Sans toucher au DTD, modifiez l'élément qui pose problème, afin que le document soit de nouveau valide.
 </p>

 <h2>Exercice 3</h2>
 <hr/>
	<p>Récupérer le fichier <a href="/files/weather.xml">weather map</a>.Proposer un  DTD afin de valider un bulletin météo émis par le service web <a href="https://openweathermap.org/">Open weather Map</a>.</p>
	 
	<p>Valider le document avec votre DTD.</p>

 <h2>Exercice 4</h2>
 <hr/>
	<p>Récupérer le fichier <a href="/files/civilisation.xml">civilisation AOE2</a>.Proposer un  DTD afin de valider une civilisation.</p>
 <h3>Unité</h3>
	Une unité est représentée par:
	<ul>
		<li>un nom</li>
		<li>Un coût</li>
		<li>Un lieu de production</li>
	</ul>

	 <h3>Bâtiment</h3>
	Un bâtiment est représenté par:
	<ul>
		<li>Un nom</li>
		<li>Un coût</li>
		<li>Age</li>
	</ul>

 <h3>Arbres Technologique</h3>
	Un arbre technologique est composé de technologie
 <h3>Civilisation</h3>
	une civilisation:
	<ul>
		<li>Un arbre technologie</li>
		<li>Des Unités</li>
		<li>Des bâtiments</li>
	</ul>
	<div class="alert alert-info" role="alert">Une civilisation est représentée par une spécialisation obligatoirement ("économique","maritime","militaire","technologique"). Elle possède 1 arbre technologique et aussi au moins 1 unitée et 1 bâtiments.</div>
	
	<p>Récupérer le fichier <a href="/files/civilisation_desorde.xml">Civilisation désorde </a>, insérez le dans les civilisations et essayer de valider le document.
		Sans toucher au DTD, modifiez l'élément qui pose problème, afin que le document soit de nouveau valide.
</p>
<div class="row">
 <div class="col-12 d-flex justify-content-between">
   <a href="/teaching/xml/tp1" class="btn btn-primary" role="button">TP 1</a>
  <a href="/teaching"class="btn btn-primary" role="button" >Sommaire</a>
<a href="/teaching/xml/tp3"class="btn btn-primary" role="button" >TP 3</a> 
 </div>
