<div class="row">
 <div class="col-12 d-flex justify-content-between">
   <a href="/teaching/xml/tp2"class="btn btn-primary" role="button">TP 2</a>
  <a href="/teaching"class="btn btn-primary" role="button" >Sommaire</a>
<a href="/teaching/xml/tp4"class="btn btn-primary" role="button" >TP 4</a> 
 </div>
</div>
<h1><%= title %> </h1>
 <h2>Introduction</h2>
 <hr/>
 <p>Le but de ce tp est de comprendre la validation d'un document XML à l'aide d'un schéma XSD <p>

<h2>Avant propos</h2>
<hr/>
 <b>Validation</b>
Pour valider un document XML selon un schéma XSD, nous utiliserons le programme <b>xmllint</b> en ligne de commande. 	
 <pre><code>xmllint fichier_a_tester.xml --noout --schema fichier.xsd</code></pre>
 <h2>Exercice 1 </h2>
 <hr/>
	<p>Récupérer le fichier <a href="/files/bibliotheque.xml">bibliotheque</a>, proposer un schéma permettant de valider un docuement XML représentant une bibliothèque. Une bibliothèque possède au moins 1 livre. Un livre est défini par:</p>
	<ul>
		<li>Son titre.</li>
		<li>Le(s) auteur(s).</li>
		<li>Son prix.</li>
		<li>Un résumé.</li>
        <li>Langue.</li>
		<li>Son ou ses genre(s). </li>
		<li>un nombre de pages.</li>
		<li>Son édition.</li>
	</ul>
	<p>quelques indications: </p>
	<ul>
		<li>Un livre possède obligatoirement un ISBN .</li>
		<li>Un titre est une chaine de caractères qui commence par une majuscule.</li>
		<li>Un livre a au moins 1 auteur.</li>
		<li>Un auteur a 1 prénom et 1 nom.</li>
		<li>Un livre peut-être disponible dans une ou plusieurs langue(s).</li>
        <li>Une langue est définit toujours sur 2 caractères ("FR","EN","DE",...)
		<li>Un nom et un prénom sont des chaînes de caractères qui commencent par une majuscule.</li>
		<li>Un prix possède toujours une devise ("£","€","$","¥","₽").</li>
		<li>Le résumé d'un livre n'est pas toujours disponible.</li>
        <li>Un livre peut avoir plusieurs genres ou aucun. </li>
		<li>Une édition permet de connaitre,la date (au format date) d'émission et s'il s'agit d'un original. (booléen).</li>
        <li>Le nombre de pages est un entier positif</li> 
	</ul>


 <h2>Exercice 2</h2>
 <hr/>
	<ul>
		<li>Créer un document xml du livre de votre choix puis valider-le avec le schéma précédent.</li>
		<li>Récupérer le fichier <a href="/files/bibliotheque_malRange.xml">bibliothèque_mal_rangé.xml</a>, insérer le dans la bibliotheque et essayer de valider le document.
		Sans toucher au schéma, modifiez l'élément qui pose problème, afin que le document soit de nouveau valide.
 </li>
	</ul>

	<h2>Exercice 3</h2>
	<hr/>
	   <p>Récupérer le fichier <a href="/files/weather.xml">weather map</a>.Proposer un  XSD afin de valider un bulletin météo émis par le service web <a href="https://openweathermap.org/">Open weather Map</a>.</p>
		
	   <p>Valider le document avec votre XSD.</p>
   

 <h2>Exercice 4</h2>
 <hr/>
	
	<p>Récupérer le fichier <a href="/files/civilisation.xml">civilisation_AOE2</a>.Proposer un schema afin de valider une civilisation.</p>
 <h3>Unité</h3>
	Une unité est représenté par:
	<ul>
		<li>un nom</li>
		<li>Un coût</li>
		<li>Un lieu de production</li>
        <li>Une statistique</li>
	</ul>

	 <h3>Bâtiments</h3>
	Un bâtiment est représenté par:
	<ul>
		<li>Un nom</li>
		<li>Un coût</li>
		<li>Age</li>
	</ul>

 <h3>Arbres Technologique</h3>
	Un arbre technologique est composé de technologie
 <h3>Civilisation</h3>
	une civilisation est composé de :
	<ul>
		<li>Un arbre technologie</li>
		<li>Des unités</li>
		<li>Des bâtiments</li>
	</ul>
    <h3>Quelques indications</h3>
    <ul>
        <li>Une stat d'unité est soit une unité à distance, soit au corps à corps.</li>
        <li>une unité à distance est représentée par sa porté,
        ses dégâts et ses PV.</li>
        <li>Une unité au corps à corps est représentée par sa vitesse d'attque, ses dégâts et ses PV.</li>
        <li>La portée, la vitesse d'attaque, les dégâts , les PV sont des entiers positifs.</li>
        <li>Les noms ,les ages et les technologie sont des chaines de caractères.</li>
        <li>Un coût est composé de pierre, de bois, de nourriture et d'or mais pas nécessairement les 4.</li>
        <li>l'ordre des technologies, des civilisations et des unités n'a pas d'importance.</li>
    </ul>
	<div class="alert alert-info" role="alert">Une civilisation est représenté par une spécialisation obligatoirement ("économique","maritime","militaire","technologique"). Elle possède 1 arbre technologique et aussi au moins 1 unité et 1 bâtiment.</div>
	
	<p>Récupérer le fichier <a href="/files/civilisation_desorde.xml">Civilisation_desorde.xml</a>, insérer le dans les civilisations et essayer de valider le document.
		Sans toucher au schéma, modifiez l'élément qui pose problème, afin que le document soit de nouveau valide.
</p>
<div class="row">
 <div class="col-12 d-flex justify-content-between">
   <a href="/teaching/xml/tp3"class="btn btn-primary" role="button">TP 3</a>
  <a href="/teaching" class="btn btn-primary" role="button" >Sommaire</a>
<a href="/teaching/xml/tp4"class="btn btn-primary" role="button" >TP 4</a> 
 </div>
