<div class="row">
 <div class="col-12 d-flex justify-content-between">
   <a href="/teaching/xml/tp4"class="btn btn-primary" role="button">TP 4</a>
  <a href="/teaching"class="btn btn-primary" role="button" >Sommaire </a>
<a href="/teaching/xml/tp6"class="btn btn-primary" role="button" >TP 6</a> 
 </div>
</div>
<h1><%= title %> </h1>
 <h2>Introduction</h2>
 <hr/>
 <p>Le but de ce tp est d'apprendre à transformer un document XML dans un autre format. <p>
	
  <h2>Exercice 1 </h2>
 <hr/> <p>Pré requis:</p>
        <ul>
            <li>Python 3.</li>
            <li>Package python lxml</li>
        </ul>
    	Récupérér le <a href="/files/all_civilisations.xml">document</a>
        <p>Développer un programme Python capable de parser le document xml et de la transformer en document CSV.
chaque ligne du fichier csv devra contenir les informations suivantes :
</p> 
<ul>
    <li>NomCivilisations</li>
    <li>NbSoldatsCAC</li>
    <li>NbSoldatsDist</li>
    <li>NbSoldatsCavalerie</li>
    <li>NbSoldatsPoudre</li>
    <li>NbTechs</li>
</ul>

<p>Ouvrez le document CSV avec le logicielle de votre choix (R, julia, java,...)</p>
<p>Afficher la civilisation qui a le plus de Soldat à poudre.</p>
<p>Afficher la civilisation qui a le plus de technologie</p>
<p>Afficher par civilisation l'unité la plus forte au CAC</p>
<p>Afficher par civilisation la moyenne du nombre de soldats</p>
<h2>Infos pratique:</h2>
<p> Pour parser un document xml en python:</p>
<pre><code>import lxml.etree as etree
dom = etree.parse("fichier.xml") 
xslt_tree = etree.parse("fichier.xsl")
xslt = etree.XSLT(xslt_tree)

tree = xslt(dom)
</code></pre> 
<p>Pour créer un document qui n'est pas xml : </p>

<pre><code>#Fichier xslt
&lt;xsl:stylesheet version="1.0" 
xmlns:xsl="http://www.w3.org/1999/XSL/Transform"&lt;
&lt;xsl:output method="text" omit-xml-declaration="yes" encoding="UTF-8"/&gt;
    &lt;strip-space="*"/&gt;

...
</code></pre> 
<h2>Exercice 2 </h2>
 <hr/>
<p>Récupérer le zip sur ce <a href="/files/tp_xslt.zip">LIEN</a>, installer le serveur web sur votre machine puis Développer une application web capable de parser le document XML afin de proposer un affichage ressemblant aux visuels ci après :</p>
        Pré requis :
        <ul>
            <li>Serveur web (php, nodeJs, ...) </li>
        </ul>
<h2>Installation serveur nodeJs</h2>
<pre><code>unzip tp_xslt.zip
cd tp_xslt/
npm install
DEBUG=tp_xslt: npm start *
// ou bien
npm start    
</code></pre>
<div class="alert alert-info">Pour la suite du tp vous travaillerez sur le fichier index.ejs, xml_parser.js, all_civilisations.xsl et styles.css, vous pouvez aussi charger boostrap. </div>
<h2>Visuels</h2>
    <img src="/images/courses/XML/tp5_1.png" width="500px"/>
    <img src="/images/courses/XML/tp5_2.png" width="500px"/>
    <img src="/images/courses/XML/tp5_3.png" width="500px"/>
    <img src="/images/courses/XML/tp5_4.png" width="500px"/>
<h2>Rappel Javascript</h2>
    Parsing d'une chaîne de caractère:

    <pre><code>const parser = new DOMParser();
const xmlDoc = parser.parseFromString(text_value ,"text/xml");
</code></pre>

<p>Navigation dans un document (<a href="https://www.w3schools.com/jsref/dom_obj_all.asp" >réf</a>)</p>

        <pre><code>xmlDoc.documentElement; // element racine
elem.children;          // enfants de elem
elem.childNodes;        // noeuds enfants de elem
elem.parentElement;     // parent de elem

elem.tagName;           // nom de la balise
elem.length;            // taille
elem.childElementCount; // nb enfants de elem

node.nodeValue;         // valeur textuelle du noeud
</code></pre>
    	<p>Evaluation d'une expression xPath (<a href="https://developer.mozilla.org/fr/docs/Web/JavaScript/Introduction_%C3%A0_l_utilisation_de_XPath_avec_JavaScript">prototype</a>) </p>
            
        <pre><code>let result = nodes.iterateNext();
while (result) {
    // faire qq chose
    result.iterateNext();
}
</code></pre>

<p>Sérialisation d'un élément XML</p>
<pre><code>str = new XMLSerializer().serializeToString(elem);
</code></pre>

<p>Import d'une feuille de style XSL, transformation, et intégration au DOM HTML.</p>
<pre><code>    xml_file = loadXMLDoc("path_to_.xml");
    xsl_file = loadXMLDoc("path_to_.xsl");
    
    xsltProcessor = new XSLTProcessor();
    xsltProcessor.importStylesheet(xsl);
    
    resultDocument = xsltProcessor.transformToFragment(xml, document);
    document.getElementById("response").innerHTML = " ";
    document.getElementById("response").appendChild(resultDocument);
</pre></code>

Passer un parametre du JS vers XSL et utilisation 
<pre><code>    JS: 
    xsltProcessor.setParameter(null, 'nomParamXSL', NomParam); 

    XSL:
       &lt;xsl:param name="nomParamXSL"/&gt;

       &lt;xsl:value-of select="expression/$nomParamXSL"/&gt;
</code></pre>

 <div class="row">
 <div class="col-12 d-flex justify-content-between">
   <a href="/teaching/xml/tp4"class="btn btn-primary" role="button">TP4 </a>
   <a href="/teaching"class="btn btn-primary" role="button" >Sommaire </a>
   <a href="/teaching/xml/tp6"class="btn btn-primary" role="button" >TP6 </a> 
 </div>
