<div class="row">
 <div class="col-12 d-flex justify-content-between">
   <a href="/teaching/xml/tp5"class="btn btn-primary" role="button">TP 5</a>
  <a href="/teaching"class="btn btn-primary" role="button" >Sommaire</a>
<a href="/teaching/xml/tp7"class="btn btn-primary" role="button" >TP 7</a> 
 </div>
</div>
<h1><%= title %> </h1>
 <h2>Introduction</h2>
 <hr/>
 <p>Le but de ce tp est de pouvoir développer une application web capable de communiquer avec un web service,
récupérer l'information, la traiter et enfin l'afficher.<p>
	
 <h2>Exercice 1 </h2>
 <hr/>
<h4>Question 1</h4>
<p>Récupérer le zip sur ce <a href="/files/tp6.zip">LIEN</a>, installer le serveur web sur votre machine et vérifier qu'il fonctionne correctement:</p>
        Pré requis :
        <ul>
            <li>Serveur web (php, nodeJs, ...) </li>
        </ul>
<h2>Installation serveur nodeJs</h2>
<pre><code>
unzip tp_xslt.zip
cd tp_xslt/
npm install
DEBUG=tp_xslt: npm start *
// ou bien
npm start    
</code></pre>
<div class="alert alert-info">Pour la suite du tp vous travaillerez sur le fichier index.ejs, xml_parser.js, weather.xsl et styles.css, vous pouvez aussi charger boostrap. </div>

<h4>Question 2</h4>
<p>En vous aidant de la <a href="https://openweathermap.org/current#current_XML">documentation</a> de l'API. Modifier la requête afin d'afficher les informations météo de la ville de Paris (fr).</p>
<h4>Question 3</h4>
<p>Toujours avec la <a href="https://openweathermap.org/current#current_XML">documentation</a>, modifier la requête pour afficher la météo actuelle en français (fr).</p>

<h4>Question 4</h4>
<p>Modifier la requête pour afficher la Température en degrès Celsius.</p>

<h4>Question 5</h4>
<p>Avec la <a hred="https://openweathermap.org/weather-conditions#Icon-list">documentation</a>, récupérer l'icône de la météo actuelle.</p>

<h4>Question 6</h4>
<p>Proposer une transformation XSL afin de pouvoir afficher sur votre page web les éléments suivant:<p>
<div class="alert alert-info">Regarder la documentation de l'API, ou directement la requête pour trouver le nom des balises. L'utilisation de la balise <a href="http://edutechwiki.unige.ch/fr/Tutoriel_XSLT_pour_g%C3%A9n%C3%A9rer_du_SVG">xsl:variable</a> est peut être utile.</div>
<ul>
    <li>Le nom de la ville ainsi que son pays.</li>
    <li>Lattitude, longitude, altitude.</li>
    <li>La météo actuelle en français.</li>
    <li>L'icône de la météo actuelle.</li>
    <li>Un graphique en SVG représentant les prévisions de températures sur 5 jours (0 en x = maintenant)</li>
</ul>

<h2>Visuels</h2>
    <img src="/images/courses/XML/tp6_1.png" width="500px"/>

<div class="alert alert-info">Pour la partie avec le SVG, un peu de mathématiques seront nécessaires.</div>

<h2>Rappel Javascript</h2>
    Parsing d'une chaîne de caractère:
    <pre><code>
const parser = new DOMParser();
const xmlDoc = parser.parseFromString(text_value ,"text/xml");
    </code></pre>
        <p>Navigation dans un document (<a href="https://www.w3schools.com/jsref/dom_obj_all.asp" >réf</a>)</p>
        <pre><code>
xmlDoc.documentElement; // element racine
elem.children;          // enfants de elem
elem.childNodes;        // noeuds enfants de elem
elem.parentElement;     // parent de elem

elem.tagName;           // nom de la balise
elem.length;            // taille
elem.childElementCount; // nb enfants de elem

node.nodeValue;         // valeur textuelle du noeud
        </code></pre>
    	<p>Evaluation d'une expression xPath (<a href="https://developer.mozilla.org/fr/docs/Web/JavaScript/Introduction_%C3%A0_l_utilisation_de_XPath_avec_JavaScript">prototype</a>) </p>
            
        <pre><code>let result = nodes.iterateNext();
while (result) {
    // faire qq chose
    result.iterateNext();
}
        </code></pre>
    <p>Sérialisation d'un élément XML</p>
<pre><code>
str = new XMLSerializer().serializeToString(elem);
</code></pre>

<p>Import d'une feuille de style XSL, transformation, et intégration au DOM HTML.</p>
<pre><code>
    xml_file = loadXMLDoc("path_to_.xml");
    xsl_file = loadXMLDoc("path_to_.xsl");
    
    xsltProcessor = new XSLTProcessor();
    xsltProcessor.importStylesheet(xsl);
    
    resultDocument = xsltProcessor.transformToFragment(xml, document);
    document.getElementById("response").innerHTML = " ";
    document.getElementById("response").appendChild(resultDocument);

</pre></code>

Passer un parametre du JS vers XSL et utilisation 
<pre><code>
    JS: 
    xsltProcessor.setParameter(null, 'nomParamXSL', NomParam); 

    XSL:
       &lt;xsl:param name="nomParamXSL"/&gt;

       &lt;xsl:value-of select="expression/$nomParamXSL"/&gt;
</code></pre>

<h3>Amélioration: </h3>
    <p>Inspirez vous du visuel de Open Weather Map et améliorer votre application.</p>
    <img src="/images/courses/XML/open_weather.png" width="550px"/>    
 <div class="row">
 <div class="col-12 d-flex justify-content-between">
   <a href="/teaching/xml/tp5"class="btn btn-primary" role="button">TP 5</a>
   <a href="/teaching"class="btn btn-primary" role="button" >Sommaire</a>
   <a href="/teaching/xml/tp7"class="btn btn-primary" role="button" >TP 7</a> 
 </div>
