<div class="row">
 <div class="col-12 d-flex justify-content-between">
   <a href="/teaching/xml/tp6"class="btn btn-primary" role="button">TP 6</a>
  <a href="/teaching"class="btn btn-primary" role="button" >Sommaire</a>
 </div>
</div>
<h1><%= title %> </h1>
 <h2>Introduction</h2>
 <hr/>
 <p>Le but de ce tp est de pouvoir développer un service web et une application web capable de communiquer entre eux, échanger des informations, les traiter et enfin l'afficher en utilisant le format JSON et SVG.<p>
	
 <h2>Exercice 1 </h2>
 <hr/>
<h4>Question 1</h4> 
<p>Récupérer <a href="/files/tp_JSON.zip">l'archive</a>, installer le service_web sur votre machine et vérifier qu'il fonctionne correctement:</p>
        Pré requis :
        <ul>
            <li> nodeJs </li>
        </ul>
<h2>Installation serveur nodeJs</h2>
<pre><code>
unzip tp_JSON.zip
cd tp_JSON/service_web/
npm install
DEBUG=service_web: npm start *
// ou bien
npm start    
</code></pre>
<div class="alert alert-info">Pour la suite de l'exerice vous ne travaillerez que sur le fichier ressource.js</div>

<h4>Question 2</h4>
<p>Dans le fichier ressource.js, développer une fonction <i>computeCoordinates(n, cx, cy, r).</i>Cette fonction doit retourner la liste des coordonnées {x, y} de n points équidistants sur le cercle.

Les coordonnées des <i>n</i> points peuvent être calculées avec : 
<pre><code>nx = cx + r * Math.sin(a)
ny = cy - r * Math.cos(a)</code></pre>
</p>
Avec :
<ul>
    <li>r : rayon du cercle</li>
    <li>cx,cy : les coordonnées du centre du cercle</li>
    <li>a : l'angle de division</li>
</ul>

<img src="/images/courses/XML/tp7_1.png" />

<div class="alert alert-info"> Math.sin et Math.cos utilisent des angles en radian <pre><code>radian = degree * Math.PI / 180</code></pre></div>

<h4>Question 3</h4>
<p>Toujours dans le même fichier, développer une route GET /coordinates qui prend en paramètres un rayon, un x, y du centre du cercle, et un nombre de divisions puis retourne au format JSON le résultat de la fonction développer avant.

    <pre><code>return json(res) //retourne au format json la variable res</code></pre>
</p>


<h2>Exercice 2 </h2>
<hr/>
<h4>Question 1</h4>
<p>Avec la même archive, installer <i>application_web</i> sur votre machine et vérifier qu'il fonctionne correctement</p>

<div class="alert alert-info">Pour les questions sur l'application web vous ne travaillerez que sur les fichiers index.ejs, script.js et style.css</div>
<h4>Question 2</h4>

Implémenter une fonction drawPoints(coordinates). Cette fonction doit dessiner une ligne brisée ayant pour points les coordonnées précisées en paramètre.

Lors d'un appel à la fonction, effacer le dessin actuel et redessiner les n points.
<div class="alert alert-info">coordinates est une liste de tuple(x,y).</div>

<h4>Question 3</h4>
<p>
    Développer une fonction capable d'interoger le service développer avant et afficher le résultat en console. Pour se faire
    interroger l'url "http://localhost:3001/ressource/test" 
</p>
<div class="alert alert-info">Normalement un message "service web branché" doit apparaître dans la console.</div>

<h4>Question 4</h4>
<p>
    Modifier la fonction pour interoger le service sur la route GET /coordinates avec les paramètres nécessaire et afficher les valeurs de retour dans la console. 
</p>

<h4>Question 5</h4>
<p>
    À partir des coordonnées de la fonction précédente afficher le cercle correspondant. 
</p>


<h4>Question 6</h4>
<p>
    Développer une fonction qui à partir d'un nombre de divisions récupérés dans une balise <i>input</i> dessine un cercle avec le nombre de division.   
</p>
<div class="alert alert-info">L'interrogation du service web peut se faire via un changement du contenu de la balise input ou bien sur le click d'un bouton.</div>
<h4>Visuels</h4>
<img src="/images/courses/XML/tp7_2.png" width="570px"/>
<img src="/images/courses/XML/tp7_3.png" width="570px"/>
<br/>
<br/>
<br/>
<h4>Améliorations</h4>
<p>
<ul>
    <li>Développer une nouvelle route capable d'afficher une autre forme géométrique</li>
    <li>La route doit aussi renvoyer une couleur en JSON et l'afficher en svg</li>
    <li>Refaite les différentes questions en utilisant XML</li>
</ul></p>

 <div class="row">
 <div class="col-12 d-flex justify-content-between">
   <a href="/teaching/xml/tp6"class="btn btn-primary" role="button">TP 6</a>
   <a href="/teaching"class="btn btn-primary" role="button" >Sommaire</a>
    
</div>
